beautifulsoup4>=4.9.3
wikipedia-api>=0.5.4
requests>=2.25.1
PyQt5>=5.15.4
python-dateutil>=2.8.2
psutil>=5.9.0
PyQt5
requests
python-dotenv
websockets
nvidia-ml-py
sentence-transformers
pydantic
faiss-cpu
datasets==2.14.7
ddgs
filelock>=3.9.0
wmi
pynput
mss
Pillow
wikipedia